@import "../variables.scss";

.host {
  flex: 1;
  padding: 16px;
  background-color: $primary;
}

.content {
  margin-top: 100px;
  margin-bottom: 16px;
}

.logo {
  margin-top: 20px;
  margin-bottom: 40px;

  width: 80px;
}

.text {
  color: $white;
  margin-bottom: 10px;

  font-size: $p24;
  font-weight: 500;
  font-family: "Helvetica";
}
