@import "../variables.scss";

.host {
  flex: 1;
  background-color: $primary;

  padding: 16px;
}

.content {
  margin-bottom: 16px;
  margin-top: 136px;
}

.logo {
  margin-top: 20px;
  margin-bottom: 40px;

  width: 80px;
}

.text {
  margin-bottom: 10px;

  font-size: 28px;
  font-weight: 200;
}

.box {
  flex: 2;
  flex-direction: column;
  width: 100%;

  padding: 10px;
  background-color: lighten($info, 35%);
}

.text2 {
  margin-bottom: 10px;

  font-size: var(--head-font);
}
