@import '../../screens/variables.scss';

.button {
  margin: 20px;
  border-radius: 4px;
  background-color: $pdark;
}

.button__disabled {
  background-color: #e4e4e4;
}

.text {
  padding: 12px;

  font-size: 18px;
  color: #000;
  text-align: center;
}

.text__disabled {
  color: #979191;
}
