$primary: #167ffb;
$secondary: #6c757d;
$success: #30a54a;
$danger: #d93749;
$warning: #fdc02f;
$info: #24a2b6;
$light: #f8f9fa;
$dark: #343a40;
$white: #ffffff;

$p1: var(r1);
$p2: var(r2);
$p3: var(r3);
$p4: var(r4);
$p5: var(r5);
$p6: var(r6);
$p7: var(r7);
$p8: var(r8);
$p9: var(r9);
$p10: var(r10);
$p12: var(r12);
$p14: var(r14);
$p16: var(r16);
$p20: var(r20);
$p24: var(r24);
$p34: var(r34);
$p48: var(r48);
$p60: var(r60);
$p96: var(r96);
