@import '../../screens/variables.scss';

.container {
  width: 96%;
  background-color: $dark;
  border-radius: 10px;
  margin-top: 5px;
  box-shadow: 1px 2px rgb(196, 193, 193);
  elevation: 5;
}

.cardImageWrapper {
  width: 100%;
  height: 30px;
  background-color: $dark;
}

.cardImage {
  width: 100%;
  overflow: hidden;
  background-color: $dark;
  border-radius: 10px;
}

.cardImageFooter {
  position: absolute;
  flex-direction: row;
  height: 50px;
  bottom: 5;
  padding-left: 10px;
}

.cardImageUser {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  elevation: 12;
}

.cardImageUserName {
  align-items: center;
  justify-content: center;
  padding-left: 20px;
}

.cardImageUserNameText {
  color: white;
}

.cardImageTimeAgo {
  color: #afaeb0;
}

.bodyTop {
  padding-left: 20px;
}

.bodyTopText {
  color: #f54b64;
  font-size: 20px;
}

.bodyMid {
  padding-left: 20px;
}

.bodyMidText {
  color: white;
}

.bodyFooter {
  margin-top: 5px;
  flex-direction: row;
}

.bodyFooterLeft {
  flex: 1;
  flex-direction: row;
  padding: 10px;
}

.bodyFooterLeftText {
  color: white;
  margin-left: 10px;
}

.bodyFooterRight {
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  padding-right: 20px;
}
